---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Stocks Markets',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="The US stock market onchain."
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Xstocks',
        href: 'https://xstocks.com/us',
        icon: 'tabler:download',
      },
      { text: 'Get Update', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Tokennized <span class="hidden sm:inline"></span>Stocks <span
        class="text-accent dark:text-white">&</span
      > ETFs
    </Fragment>

    <Fragment slot="image">
      <CallToAction>
         
    <Fragment slot="title">
    
    </Fragment>

    <Fragment slot="subtitle">
     <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "NASDAQ:TSLA",
      "title": ""
    },
    {
      "proName": "NASDAQ:NVDA",
      "title": ""
    },
    {
      "proName": "NASDAQ:AAPL",
      "title": ""
    },
    {
      "proName": "NASDAQ:META",
      "title": ""
    },
    {
      "proName": "NASDAQ:AMZN",
      "title": ""
    },
    {
      "proName": "NASDAQ:PLTR",
      "title": ""
    },
    {
      "proName": "NASDAQ:NFLX",
      "title": ""
    },
    {
      "proName": "NASDAQ:MSFT",
      "title": ""
    },
    {
      "proName": "NASDAQ:AMD",
      "title": ""
    },
    {
      "proName": "NASDAQ:MSTR",
      "title": ""
    },
    {
      "proName": "NYSE:ORCL",
      "title": ""
    },
    {
      "proName": "NASDAQ:GOOGL",
      "title": ""
    },
    {
      "proName": "NASDAQ:AVGO",
      "title": ""
    },
    {
      "proName": "NASDAQ:COIN",
      "title": ""
    },
    {
      "proName": "NASDAQ:HOOD",
      "title": ""
    },
    {
      "proName": "NASDAQ:SOFI",
      "title": ""
    },
    {
      "proName": "NASDAQ:INTC",
      "title": ""
    },
    {
      "proName": "AMEX:BMNR",
      "title": ""
    },
    {
      "proName": "NASDAQ:RKLB",
      "title": ""
    },
    {
      "proName": "NASDAQ:MU",
      "title": ""
    },
    {
      "proName": "NASDAQ:IREN",
      "title": ""
    },
    {
      "proName": "NSE:RELIANCE",
      "title": ""
    },
    {
      "proName": "NASDAQ:CRWV",
      "title": ""
    },
    {
      "proName": "NASDAQ:SHOP",
      "title": ""
    },
    {
      "proName": "NSE:ICICIBANK",
      "title": ""
    },
    {
      "proName": "NASDAQ:BULL",
      "title": ""
    },
    {
      "proName": "NSE:TATASTEEL",
      "title": ""
    },
    {
      "proName": "NASDAQ:QCOM",
      "title": ""
    }
  ],
  "colorTheme": "dark",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showSymbolLogo": true,
  "displayMode": "compact"
}
  </script>
</div>
<!-- TradingView Widget END -->
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "1D",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(34, 171, 148, 1)",
  "plotLineColorFalling": "rgba(242, 54, 69, 1)",
  "gridLineColor": "rgba(240, 243, 250, 0)",
  "scaleFontColor": "#DBDBDB",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
  "tabs": [
    {
      "title": "Stocks Markets",
      "symbols": [
        {
          "s": "NASDAQ:NVDA",
          "d": "",
          "logoid": "nvidia",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:TSLA",
          "d": "",
          "logoid": "tesla",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:AAPL",
          "d": "",
          "logoid": "apple",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:META",
          "d": "",
          "logoid": "meta-platforms",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:AMZN",
          "d": "",
          "logoid": "amazon",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:NFLX",
          "d": "",
          "logoid": "netflix",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:AMD",
          "d": "",
          "logoid": "advanced-micro-devices",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:MSTR",
          "d": "",
          "logoid": "strategy-cad-hedged-cibc-cdr",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:PLTR",
          "d": "",
          "logoid": "palantir",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:MSFT",
          "d": "",
          "logoid": "microsoft",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:GOOGL",
          "d": "",
          "logoid": "alphabet",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:HOOD",
          "d": "",
          "logoid": "robinhood",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:COIN",
          "d": "",
          "logoid": "coinbase",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:AVGO",
          "d": "",
          "logoid": "broadcom",
          "currency-logoid": "country/US"
        },
        {
          "s": "NYSE:ORCL",
          "d": "",
          "logoid": "oracle",
          "currency-logoid": "country/US"
        },
        {
          "s": "NYSE:BABA",
          "d": "",
          "logoid": "alibaba",
          "currency-logoid": "country/US"
        },
        {
          "s": "NASDAQ:OPEN",
          "d": "",
          "logoid": "opendoor",
          "currency-logoid": "country/US"
        },
        {
          "s": "NSE:AXISBANK",
          "d": "",
          "logoid": "axis-bank",
          "currency-logoid": "country/IN"
        }
      ]
    }
  ],
  "support_host": "https://www.tradingview.com",
  "backgroundColor": "#0f0f0f",
  "width": "100%",
  "height": "600",
  "showSymbolLogo": true,
  "showChart": true
}
  </script>
</div>
<!-- TradingView Widget END -->
    </Fragment>
  </CallToAction>

    </style>

  
  </Hero>

 
</Layout>
